<% @title = "Showing company" %>

<div class="form-horizontal">
  <div class="form-actions">
    <%= link_to icon_tag("pencil") + ' Edit', edit_company_path(@company), class: 'btn btn-primary' %>
    <%= link_to 'Back', companies_path, class: 'btn' %>
  </div>
</div>

