<%# Links for current user. %>
<div class="navbar-text pull-right">
<% if user_signed_in? %>
  <%= icon_tag "user" %> Welcome, <strong><%= current_user.name %></strong> 
  <span class="divider">|</span>
  
    <ul class="nav">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
   </ul>
  <% else %>
    <ul class="nav">
      <%= activatable_li_tag_with_link 'Login', new_user_session_path  %>  
    </ul>
  <% end %>

</div>